/* woodwell fonts */
@font-face {
    font-family: "ginto-normal";
    /* src: url('https://storage.googleapis.com/drought-monitor/media/fonts/GintoNormal-Regular.ttf'); */
    src: url('../assets/ginto-normal-regular.ttf');
}

@font-face {
    font-family: "ginto-medium";
    /* src: url('https://storage.googleapis.com/drought-monitor/media/fonts/GintoNormal-Regular.ttf'); */
    src: url('../assets/ginto-normal-medium.ttf');
}

@font-face {
    font-family: "ginto-bold";
    /* src: url('https://storage.googleapis.com/drought-monitor/media/fonts/GintoNormal-Regular.ttf'); */
    src: url('../assets/ginto-normal-bold.ttf');
}

.mapboxgl-map {
    font-family: 'ginto-normal';
}